// _variables.scss

$fonts-url: "../fonts";
$main-font_family: "Playfairdisplay";
$second-font_family: "Ubuntu";
$base-font_size: 100%;
$base-line_height: 1.2;
$main-font: #{$base-font_size}/#{$base-line_height} $main-font_family;
$black: #000;
$white: #fff;
$logo-color: $black;
$logo-font_family: Arial, Helvetica, sans-serif;
$main-color: #626262;
$second-color: #b4ad9e;
$form-bg: #f0f0f0;
$footer-bg: #f0f0f0;
$main-width: 1060px;
