<header class="l-header-primary">
  <div class="logo">
    <a href="/">
      vr
    </a>
  </div>
  <nav class="nav-secondary">
    <ul class="nav-secondary_list">
      <li class="nav-secondary_item secondary_item__tw">
        <a href="https://twitter.com/var_bincom" class="twitter-follow-button" data-show-count="false">Follow @var_bincom</a>
      </li>
      <li class="nav-secondary_item">
        <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="https://github.com/var-bin" aria-label="Follow @var-bin on GitHub">Follow @var-bin</a>
      </li>
    </ul>
  </nav>
  <nav class="nav-primary">
    <ul class="nav-primary_list">
      <li class="nav-primary_item"><a href="#">о сайте</a></li>
      <li class="nav-primary_item"><a href="#">контакты</a></li>
      <li class="nav-primary_item"><a href="#">посты</a></li>
      <li class="nav-primary_item"><a href="#">коллекции</a></li>
    </ul>
  </nav>
</header>
