html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font: 16px/1.2 Arial, Helvetica, sans-serif;
}

.l-form-holder {
  width: 414px;
  background: #eaebef;
  padding: 10px 5px;
  color: #424242;
}

a {
  text-decoration: none;
  color: #3F51B5;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin: 0;
}

button {
  width: 192px;
  background-color: #5d974b;
  color: #fff;
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 8px;
  border: 0;
}

form {
  display: flex;
  flex-direction: column;
}

.flex-container__item {
  display: flex;
  margin-bottom: 0.5em;
}

.flex-container__item input {
  flex-grow: 1;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.flex-container__item_mob {
  flex-direction: row;
}

.flex-container__item_user-name input:first-child{
  margin-right: 0.5em;
}

.flex-container__item_birthday,
.flex-container__item_submit {
  flex-direction: column;
}

.question {
  margin-left: 0.5em;
}

.flex-container__item select {
  height: 2em;
}

.flex-container__item_gender label {
  display: flex;
  flex-direction: row-reverse;
  flex-basis: 20%;
}
