#unit1 {
  display: block;
  width: 35%;
  float: left;
  overflow: hidden;
  margin-left: 150px;
}

#unit2 {
  display: block;
  width: 35%;
  float: right;
  overflow: hidden;
  margin-right: 150px;
}

#unit3 {
  display: block;
  width: 35%;
  float: left;
  overflow: hidden;
  margin-left: 150px;
}

#unit4 {
  display: block;
  width: 35%;
  float: right;
  overflow: hidden;
  margin-right: 150px;
}

#unit5 {
  display: block;
  width: 35%;
  float: left;
  overflow: hidden;
  margin-left: 150px;
},

#unit6 {
  display: block;
  width: 35%;
  float: right;
  overflow: hidden;
  margin-right: 150px;
}
