// socialButtons

/* @keyframes social-buttons {
  ._generate-keyframes(@body-animation-steps);
} */

.social-buttons {
  display: none;
  justify-content: space-around;
  width: 80%;
  padding: 1em;

  &__item {
    width: 2em;
    height: 2em;
  }
}
